@font-face {
  font-family: "digi";
  src: url("../fonts/digi.ttf") format("truetype");
}
.number-background {
  left: 3.3vmin;
  position: absolute;
  z-index: 0;
  color: rgba(12, 238, 208, 0.1);
  user-select: none;
}
.number {
  left: 3.3vmin;
  position: absolute;
  z-index: 1;
  color: rgb(51, 134, 51);
  user-select: none;
  cursor: url(../images/time-cursor.png), auto;
}
.number-one {
  left: 6.3vmin;
}
.clock {
  margin: auto;
  background-color: rgba(47, 46, 46, 0.65);
  border-radius: 3vmin;
  width: 54.5vmin;
  height: 20vmin;
  border: 0.3vmin solid rgb(180, 185, 196);
  border-top-right-radius: 1.3vmin;
  display: flex;
}
.clock-time {
  font-family: digi;
  text-align: center;
  font-size: 11vmin;
  background-color: rgba(166, 170, 173, 0.85);
}
.clock-hours-left {
  position: absolute;
  display: inline-block;
  margin-top: 2.5vmin;
  margin-left: 1.1vmin;
  height: 15vmin;
  width: 12vmin;
  border-radius: 1.5vmin;
  border-left: 0.3vmin solid white;
  border-right: 0.1vmin solid black;
}
.clock-hours-right {
  position: absolute;
  display: inline-block;
  margin-top: 2.5vmin;
  height: 15vmin;
  width: 12vmin;
  border-radius: 1.5vmin;
  border-right: 0.1vmin solid black;
  margin-left: 13.5vmin;
}
.clock-separator {
  position: absolute;
  border: 0.1vmin solid aliceblue;
  background-color: rgba(185, 189, 192, 0.75);
  line-height: 11.5vmin;
  font-size: 12vmin;
  text-align: center;
  display: inline-block;
  margin-top: 2.5vmin;
  height: 15vmin;
  width: 3vmin;
  border-radius: 1.5vmin;
  margin-left: 25.5vmin;
  user-select: none;
}
.clock-minutes-left {
  position: absolute;
  display: inline-block;
  margin-top: 2.5vmin;
  height: 15vmin;
  width: 12vmin;
  border-radius: 1.5vmin;
  margin-left: 28.7vmin;
}
.clock-minutes-right {
  position: absolute;
  display: inline-block;
  margin-top: 2.5vmin;
  height: 15vmin;
  width: 12vmin;
  border-radius: 1.5vmin;
  border-left: 0.1vmin solid black;
  margin-left: 40.6vmin;
  border-right: 0.3vmin solid white;
}
.clock-buttons-mute {
  cursor: url(../images/disallow-sound.png), auto;
  position: absolute;
  display: inline-block;
  width: 2.5vmin;
  height: 2.5vmin;
  margin-left: 52vmin;
  border-bottom: 0.1vmin solid aliceblue;
  border-left: 0.1vmin solid aliceblue;
  border-bottom-left-radius: 1.3vmin;
}
.clock-buttons-muted {
  cursor: url(../images/allow-sound.png), auto;
}
.minus,
.plus {
  height: 2vmin;
  width: 100%;
  text-align: center;
  font-family: digi;
  background-color: rgba(53, 81, 173, 0.75);
  line-height: 2.2vmin;
  font-size: 5vmin;
  border-radius: 2vmin;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
.plus:hover,
.minus:hover {
  color: aliceblue;
  background-color: rgba(36, 60, 141, 0.75);
}
.plus {
  border-bottom: 0.1vmin solid aliceblue;
  cursor: url(../images/add-selection.png), auto;
}
.minus {
  border-top: 0.1vmin solid aliceblue;
  margin-top: 11vmin;
  cursor: url(../images/remove-selection.png), auto;
}
.plus::after {
  content: "+";
}
.minus::after {
  content: "-";
}

.default-cursor {
  cursor: url(../images/default-cursor.png), auto;
}
