.not-finished-notice {
  top: 0;
  left: calc(50% - 27.75vmin);
  background-color: rgba(0, 0, 0, 0.493);
  color: rgb(180, 185, 196);
  border: 0.3vmin solid aliceblue;
  width: 54.5vmin;
  font-size: 2.4vmin;
  border-bottom-left-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
  text-align: center;
  padding: 1vmin 0.5vmin 1.5vmin 0.5vmin;
  overflow: hidden;
  margin: auto;
  margin-bottom: 3vmin;
}
