.sound-list-container {
  background-color: rgb(47, 46, 46);
  border: 0.3vmin solid rgb(158, 151, 151);
  border-radius: 3vmin;
  width: 50.5vmin;
  margin: auto;
}

.sound-list {
  margin: 3vmin auto;
  padding: 0.5vmin 0;
  width: 85%;
  font-size: 2.5vmin;
  color: aliceblue;
  list-style-type: none;
  background-color: rgb(125, 126, 131);
  border: 0.3vmin solid rgb(158, 151, 151);
  border-radius: 1vmin;
  overflow-y: auto;
}

.sound-list::-webkit-scrollbar {
  width: 1vmin;
  border-top-right-radius: 3vmin;
  border-bottom-right-radius: 3vmin;
}
.sound-list::-webkit-scrollbar-thumb {
  background-color: rgb(53, 81, 173);
  border: 1.5px solid rgb(34, 58, 136);
  border-radius: 3vmin;
}
.sound-list li {
  display: flex;
  background-color: #00000000;
  border: 0.3vmin solid #00000000;
  transition: background-color 0.5s;
  cursor: pointer;
  user-select: none;
}
.sound-list li:hover {
  border: 0.3vmin solid #00000000;
  background-color: rgb(207, 199, 199);
  border: 0.3vmin solid black;
  border-left: 0.3vmin solid #00000000;
}

.image-picker {
  background-image: url(../images/add-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.image-picker,
.sound-list li img {
  margin-top: 0.3vmin;
  border-radius: 25%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 8vmin;
  height: 8vmin;
  margin-left: 1.5vmin;
  border: 0.3vmin solid rgb(207, 199, 199);
}
.sound-list li p {
  padding-left: 1vmin;
  margin: 0.3vmin 0;
  width: calc(100% - 11vmin);
  height: 8vmin;
  overflow: auto;
  border-top: 0.3vmin solid rgb(207, 199, 199);
  border-bottom: 0.3vmin solid rgb(207, 199, 199);
  border-right: 0.3vmin solid rgb(207, 199, 199);
}
