.volume-controller {
  position: absolute;
  margin-top: 2.79vmin;
  margin-left: 53.48vmin;
  width: 1vmin;
  height: 11.65vmin;
  background-color: #00000000;
  padding: 0.3vmin 0;
  border-bottom-left-radius: 0.55vmin;
  border-left: 0.3vmin solid white;
  border-bottom: 0.3vmin solid white;
}
